body{
	background-color: #9DB8F5;
}

h1 {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	font-family: rockwell;
	font-size: 2.5em;
}


.menu1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #BBBBBB;
	text-align: left;
	font-size: 2em;
	font-family: elephant;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}

.item1 {
	text-align: center;
	align-items: bottom;
	color: white;
	text-decoration: underline;
}

.item1:hover {
	color: white;
	cursor: pointer;
}

.item2 {
	text-align: center;
	align-items: bottom;
	color: black;
	text-decoration: none;
}

.item2:hover {
	color: white;
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: white;
	cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 2.5rem;
	
}